.App {
  text-align: center;
  height: 100vh;
  padding: 10vw;
  background: rgb(2,0,36);
  background: radial-gradient(circle, rgba(0,32,36,0.7931547619047619) 20%, rgba(0,0,0,0.47102591036414565) 100%);
  position: relative;
}

.img__axe--left{
  height: 300px;
  position: absolute;
  top:30vh;
  left: 10vw;
}

.img__axe--right{
  height: 300px;
  transform: rotateY(180deg);
  position: absolute;
  top: 30vh;
  right: 10vw;
}
