.App {
  text-align: center;
  padding: 3vw;
  position: relative;
  z-index: 2;
}

.img__axe--left{
  height: 800px;
  position: absolute;
  top:10vh;
  left: 0;
  z-index: -1;
  animation-name: flipLeftAxe;
  animation-duration: 4s;
  animation-delay: 2s;
  animation-timing-function: ease-in-out;
}

.img__axe--right{
  height: 800px;
  transform: rotateY(180deg) rotateZ(0deg);
  position: absolute;
  top: 10vh;
  right: 0;
  z-index: -1;
  animation-name: flipRightAxe;
  animation-duration: 4s;
  animation-delay: 2s;
  animation-timing-function: ease-in-out;
  }

@keyframes flipRightAxe {
  0%   {transform: rotateY(180deg) rotateZ(0deg);}
  10%  {transform: rotateY(180deg) rotateZ(10deg);}
  25%  {transform: rotateY(180deg) rotateZ(-40deg);}
  50%  {transform: rotateY(180deg) rotateZ(-30deg);}
  75%  {transform: rotateY(180deg) rotateZ(-10deg);}
  100% {transform: rotateY(180deg) rotateZ(0deg);}
}

@keyframes flipLeftAxe {
  0%   {transform: rotateZ(0deg);}
  10%  {transform: rotateZ(10deg);}
  25%  {transform: rotateZ(-40deg);}
  50%  {transform: rotateZ(-30deg);}
  75%  {transform: rotateZ(-10deg);}
  100% {transform: rotateZ(0deg);}
}