@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500&display=swap');
body {
  margin: 0;
  font-family: 'Cinzel';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

td, th {
  border: 1px solid #dddddd;
  border-radius: 4px;
  text-align: left;
}

tr:nth-child(even) {
  background-color: #dddddd;
}